In [69]:
import requests
from bs4 import BeautifulSoup
r=requests.get("https://pythonizing.github.io/data/real-estate/rock-springs-wy/LCWYROCKSPRINGS/")
# r=requests.get("https://www.amazon.com")
# type(r)
c=r.content
# print(c)
soup=BeautifulSoup(c,"html.parser")
# print(soup)
all=soup.find_all("div",{"class":"propertyRow"})
# print(all)
list=[]
for a in all:
    d={}
    d["Price"]    = a.find("h4",{"class":"propPrice"}).text.replace("\n","").replace(" ","")
    d["Address"]=a.find_all("span",{"class":"propAddressCollapse"})[0].text
    d["Locality"] = a.find_all("span",{"class":"propAddressCollapse"})[1].text
   
    try:
        d["Beds"]=a.find("span",{"class":"infoBed"}).find("b").text
    except:
        d["Beds"]=None
    
    try:
        d["Area"]=a.find("span",{"class":"infoSqFt"}).find("b").text
    except:
         d["Area"]=None
        
    try:
         d["Full Baths"]=a.find("span",{"class":"infoValueFullBath"}).find("b").text
    except:
         d["Full Baths"]=None
        
    try:
         d["Half Baths"]=a.find("span",{"class":"infoValueHalfBath"}).find("b").text
    except:
         d["Half Baths"]=None
        
    
    for col_gp in a.find_all("div",{"class":"columnGroup"}):
#         print(col_gp)
        for fgp, fgp_name in zip(col_gp.find_all("span",{"class":"featureGroup"}), col_gp.find_all("span",{"class":"featureName"})):
#             print(fgp.text,fgp_name.text)
            if "Lot Size" in fgp.text:
               d["Lot Size"]=fgp_name.text
        
    list.append(d)
# list

In [72]:
import pandas
df=pandas.DataFrame(list)
df.to_csv("output.csv")
df

,Price,Address,Locality,Beds,Area,Full Baths,Half Baths,Lot Size
0,"$725,000",0 Gateway,"Rock Springs, WY 82901",None,None,None,None,NaN
1,"$452,900",1003 Winchester Blvd.,"Rock Springs, WY 82901",4,None,4,None,0.21 Acres
2,"$396,900",600 Talladega,"Rock Springs, WY 82901",5,"3,154",3,None,NaN
3,"$389,900",3239 Spearhead Way,"Rock Springs, WY 82901",4,"3,076",3,1,"Under 1/2 Acre,"
4,"$254,000",522 Emerald Street,"Rock Springs, WY 82901",3,"1,172",3,None,"Under 1/2 Acre,"
5,"$252,900",1302 Veteran's Drive,"Rock Springs, WY 82901",4,"1,932",2,None,0.27 Acres
6,"$210,000",1021 Cypress Cir,"Rock Springs, WY 82901",4,"1,676",3,None,"Under 1/2 Acre,"
7,"$209,000",913 Madison Dr,"Rock Springs, WY 82901",3,"1,344",2,None,"Under 1/2 Acre,"
8,"$199,900",1344 Teton Street,"Rock Springs, WY 82901",3,"1,920",2,None,"Under 1/2 Acre,"
9,"$196,900",4 Minnies Lane,"Rock Springs, WY 82901",3,"1,664",2,None,2.02 Acres